MAX_NUMBER_OF_PROJECTS = 10
MAX_NUMBER_OF_TASKS = 20
DATABASE_URL = postgresql://username:password@host:port/db_name
MAX_SHOW_NAME_LENGTH = 20
MAX_SHOW_DESCRIPTION_LENGTH = 25
MAX_SHOW_DUE_DATE_LENGTH = 25
MAX_SHOW_CLOSED_AT_LENGTH = 25